
@{
    ViewBag.Title = "Contractors";
}

<p>
    At Flaggers National your work zone safety is our business. We specialize in providing efficient and effective solutions to your roadway projects.

    We provide accurate and professional traffic control consultation and planning services for bridge and heavy highway maintenance, new construction, railroad crossings, survey crews, utility operations, concrete and paving projects, clearing / grubbing, excavation, and more.

    ​		We mobilize, manage, and monitor traffic control projects. We deliver and set up all traffic control devices and break them down thereafter. We develop traffic control plans, interact with local county engineers, and prepare traffic control diaries. We monitor the efficiency of the traffic control throughout each hour and phase of the project. Other services we provide are for risk management. We will provide auditing, assessments, and analysis reports with recommendations.
</p>

<div id="content">
    <aside id="colOne">
        <img src="../images/Iowa-DOT.jpg" alt="Iowa DOT Icon" />
        <h2>Iowa Department of Transportation Vendor File</h2>

        <img src="../images/Iowa-SOS.png" alt="Iowa SOS Icon" />
        <h2>Iowa Secretary of State Business Entity Summary</h2>

        <img src="../images/Iowa-TSB.png" alt="Iowa Icon" />
        <h2>Iowa Targeted Small Business Registry</h2>
    </aside>
    <article id="colTwo">
        <h1>Request services/people</h1>
        <div id="colleft">
            <form id="contactform" action="#" method="post">
                <fieldset>

                    <!--<p><label for="firstname">First Name:</label><input type="text" name="firstname" placeholder="First Name"/></p>-->
                    <p><label for="name">First and Last Name:</label></br><input type="text" name="names" placeholder="First and Last Name" /></p>
                    <p><label for="name">Civil or Government Entity:</label></br><input type="text" name="names" placeholder="Civil or Government Entity" /></p>
                    <p><label for="name">Business Address:</label></br><input type="text" name="names" placeholder="Business Address" /></p>

                    <p><label for="email">Email Address:</label><input type="email" name="email" placeholder="Your Email Address" /></p>
                    <p><label for="phone">Phone Number:</label><input type="text" name="phone" placeholder="(555) 555-5555" /></p>
                    <p>
                        <label for="preffered contact">Preferred Contact:</label>
                        <select name="Preferred Contact">
                            <option value="please select">Please Select</option>
                            <option value="Phone">Phone</option>
                            <option value="Email">Email</option>
                        </select>
                    </p>
                    <p><label for="message">Message: </label> <textarea name="message" placeholder="Enter Your Message"></textarea></p>
                    <p><button>Send</button></p>
                </fieldset>
            </form>
        </div>
    </article>
</div>

