@{
    ViewBag.Title = "Home Page";
}
<head>
   
    <link href="~/Content/Home-Styles.css" rel="stylesheet" />
</head>
<header>
    <h1>Flaggers National Traffic Control Systems</h1>
    <p class="lead">Prompt. Prepared. Preferred.</p>
</header>

<div class="k">

    <p class="hero">
        Since opening in 2000, Flaggers National Traffic Control Systems has been proud to serve the Ottumwa community. We’re committed to not only providing quality products and services, but going above and beyond to ensure our customers are completely satisfied.
        We welcome you to look through our site to see all we have to offer.
    </p>
    <div align="center" class="embed-responsive embed-responsive-16by9">
        <video height="400" width="900" autoplay controls muted>
            <source src="~/images/K1oVJFkPHGg0BRJhCzE___8.mp4" type="video/mp4" />
        </video>
    </div>

</div>
    <div id="about">
        <h2>About Us</h2>
        <h3>Our Background</h3>
        <p>
            As one of the leading local businesses in the Ottumwa area, we attribute our reputation to the lasting customer relationships we’ve developed throughout the years. We believe that all of our customers deserve the highest level of service,
            and we are committed to providing just that. Get in touch today to learn more.
        </p>
        <div class="get">
            <h2>Get in Touch</h2>
            <p>15330 Truman Street, Ottumwa, IA 52501</p>
            <p>info@flaggersnational.com</p>
            <p>Toll-free: (877) 921-3524</p>
            <p>
                Local: (641) 683-5754

            </p>
                <ul>
                    <li><a href="https://www.facebook.com/flaggersnational"><img src="~/images/facebook.png" width="30" height="30"/></a></li>
                    <li><a href="https://twitter.com/TTC4_USA"><img src="~/images/twitter.png" width="30" height="30"/></a></li>
                    <li><a href="http:/www.google.com"><img src="~/images/google.png" width="30" height="30"/></a></li>
                    <li><a href="http:/www.viber.com"><img src="~/images/viber.png" width="30" height="30"/></a></li>
                </ul>
        </div>
    </div>
 