@{
    ViewBag.Title = "ProspectiveEmployee";
}

@{
    string thisMonth = DateTime.Now.Month.ToString();
    string thisYear = DateTime.Now.Year.ToString();
    // string thisDay = DateTime.Now.Day.ToString();

    int today = DateTime.Now.Day;
    today += 4;
    string thisDay = Convert.ToString(today);
}

<style>
    .pad-left {
        padding-left: 20px;
    }

    td {
        font-size: 10pt;
        align-self: center;
        
    }

    .font_2 {
        font: normal normal normal 28px/1.375em didot-w01-italic,serif;
    }

    .font_8 {
        font: normal normal normal 15px/1.75em futura-lt-w01-light,sans-serif;
    }
</style>

<div id="container">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="row">
                <h3 class="pull-left pad-left" style="font: normal normal normal 28px/1.375em didot-w01-italic,serif; font-family: palatino linotype,serif; font-size:20px;">Positions available</h3>
            </div>
            <div class="row">
                <table>
                    <tr>
                        <td><p class="font_8 pull-left">*Certified Traffic Control Supervisor</td>
                    </tr>
                    <tr>
                        <td><p class="font_8 pull-left">*Flagger</td>
                    </tr>
                    <tr>
                        <td><p class="font_8 pull-left">*Office Assistant</td>
                    </tr>
                    <tr>
                        <td><p class="font_8 pull-left">*Safety Management Coordinator</td>
                    </tr>
                </table>
            </div>

            <br />

            <div class="row">
                <h3>Testimonies from our employees</h3>
            </div>

            <div class="row">
                <img style="object-position: 50% 50%; margin-left: 30px; width: 379px; height: 71px; object-fit: cover;" alt="Testimony1" data-type="image" itemprop="image" src="~/images/Testimony1.png">
            </div>

            <div class="row">
                <img style="object-position: 50% 50%; margin-left: 30px; width: 379px; height: 71px; object-fit: cover;" alt="Testimony2" data-type="image" itemprop="image" src="~/images/Testimony2.png">
            </div>

            <div class="row">
                <h3 style="font: normal normal normal 28px/1.375em didot-w01-italic,serif; font-family: palatino linotype,serif; font-size:20px;">ATSSA Training and Certification Courses</h3>
                <a href="https://www.atssa.com/Training/Find-a-Course"><img style="width: 264px; height: 185px;" alt="ATSSA logo" data-type="image" itemprop="image" src="~/images/ATSSA logo.jpg"></a>
            </div>
        </div>

        <div class="col-md-6 col-sm-12">
            <div class="row">

            </div>

            <div class="row">
                <h3 class="pull-left center" style="font: normal normal normal 28px/1.375em didot-w01-italic,serif; 
                    font-family: palatino linotype,serif; font-size:20px;">Join our team
                </h3>
            </div>
            <div class="row">
                <form id="contactform" class="pull-left text-left center" action="#" method="post" enctype="multipart/form-data">
                    <fieldset>
                        <p>
                            <label for="name">Salutation:</label>
                            <input type="radio" name="Salutation" id="favRev." value="Rev." />Rev.
                            <input type="radio" name="Salutation" id="favDr." value="Dr." />Dr.
                            <input type="radio" name="Salutation" id="favMr." value="Mr." checked />Mr.
                            <input type="radio" name="Salutation" id="favMrs." value="Mrs." />Mrs.
                            <input type="radio" name="Salutation" id="favMs." value="Ms." />Ms.
                            <input type="radio" name="Salutation" id="favMiss" value="Miss" />Miss
                            <br />
                        <p>
                            <label for="name">First Name:</label><br />
                            <input type="text" name="FirstName" placeholder="First Name" style="width:250px;" />
                        </p>
                        <p>
                            <label for="name">Last Name:</label><br />
                            <input type="text" name="LastName" placeholder="Last Name" style="width:250px;" />
                        </p>
                        <p>
                            <label for="name">Suffix:</label>
                            <input type="radio" name="Suffix" id="favJr." value="Jr." />Jr.
                            <input type="radio" name="Suffix" id="favSr." value="Sr." />Sr.
                            <input type="radio" name="Suffix" id="favIII." value="III" />III
                            <input type="radio" name="Suffix" id="favIV." value="IV" />IV
                            <input type="radio" name="Suffix" id="favJD." value="J.D." />J.D.
                            <input type="radio" name="Suffix" id="favMBA." value="M.B.A." />M.B.A.
                            <input type="radio" name="Suffix" id="favMD" value="M.D." />M.D.
                            <input type="radio" name="Suffix" id="favPHD" value="Ph.D." />Ph.D.
                            <input type="radio" name="Suffix" id="favPHD" value="None" checked />None
                        </p>
                        <p>
                            <label for="name">Address:</label><br />
                            <input type="text" name="Address" placeholder="Address" style="width:250px;" />
                        </p>
                        <p>
                            <label for="name">City:</label><br />
                            <input type="text" name="City" placeholder="City" style="width:250px;" />
                        </p>
                        <p>
                            <label for="name">State:</label><br />
                            <input type="text" name="State" placeholder="State" style="width:250px;" />
                        </p>
                        <p>
                            <label for="name">Zip Code:</label><br />
                            <input type="text" name="Zip" placeholder="Zip Code" style="width:250px;" />
                        </p>
                        <p>
                            <label for="phone">Phone Number:</label><br />
                            <input type="text" name="Phone" placeholder="(555) 555-5555" style="width:250px;" />
                        </p>
                        <p>
                            <label for="email">Email Address:</label><br />
                            <input type="email" name="Email" placeholder="Your Email Address" style="width:250px;" />
                        </p>
                        <p>
                            <label for="Preferred Method of Contact">Preferred Method of Contact:</label><br />
                            <select name="Contact" id="Please Select" style="width:250px;">
                                <option value="Mail">Mail</option>
                                <option selected value="Phone">Phone</option>
                                <option value="Email">Email</option>
                            </select>
                        </p>

                        <p>
                            <label for="Position of Interest">Position of Interest:</label><br />
                            <select name="Contact" id="Please Select" style="width:250px;">
                                <option value="Mail">Certified Traffic Control Supervisor</option>
                                <option selected value="Phone">Flagger</option>
                                <option value="Email">Office Assistant</option>
                                <option value="Email">Safety Management Coordinator</option>
                            </select>
                        </p>
                        <p>
                            <label for="Available Start Date">Available Start Date:</label><br />
                            <input type="date" name="StartDate" min="@thisYear-@thisMonth-@thisDay" style="width:250px;" />
                        </p>
                        <p>
                            <div>
                                <label for="file">Attach a Resume: (Optional)</label>
                                <input class="center" type="file" id="file" name="file" multiple>
                            </div>
                        </p>
                        <p>
                            <label for="name">LinkedIn Address: (Optional)</label><br />
                            <input type="text" name="LinkedIn" placeholder="LinkedIn Address" style="width:250px;" />
                        </p>
                        <p>
                            <label for="message">Additional Information: (Optional)</label> <br />
                            <textarea name="message" placeholder="Enter Your Message" style="width:250px;"></textarea>
                        </p>
                        <p><button type="reset" value="Clear Form" style="width:250px;">Clear Form</button></p>
                        <p><button style="width:250px;">Submit</button></p>
                        <p><button style="width:250px;">Submit and Create Account</button></p>
                        <br />
                        <br />
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>